<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="StaticFileOrDir" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="HtmlExtensionFallback" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <rule name="IndexFallback" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
    </staticContent>
  </system.webServer>
</configuration>
